.footer {
  background-color: #2C3333;
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
  font-size: 12px;
}
.footer a {
  columns: #A5C9CA;
}



.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 24px;
  margin-right: 10px;
}
