
.formregister {
    width: 400px; /* Ajusta el ancho del formulario */
    background-color: #A5C9CA;
    padding: 30px;
    margin: auto;
    margin-top: 50px; /* Ajusta la posición vertical del formulario */
    margin-bottom: 50px; /* Ajusta la posición vertical del formulario */
    border-radius: 4px;
    font-family: 'Arial', sans-serif;
    color: rgb(43, 40, 40);
    box-shadow: 7px 13px 37px #302e2e;
  }

.formregister h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #353636;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  color: white;
}

.formregister p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.formregister a {
  color: white;
  text-decoration: none;
}

.formregister a:hover {
  color: white;
  text-decoration: underline;
}

.formregister .botons {
  width: 100%;
  background-color: #2C3333;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  border-radius: 4px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.local {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1px; /* Ajusta el valor según tu preferencia */
}

.local:last-child {
  margin-right: 0; /* Elimina el margen derecho del último elemento */
}

.localContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000000; /* Borde sólido */
  background-color: #395B64;
  border-radius: 8px; /* Borde redondeado */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra */
  padding: 10px; /* Espaciado interno */
}
.btnUbicacion {
  background-color: #2C3333;
  color: white;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 15px;
}