
  .texto {
    text-align: left;
    font-family: "Arial Rounded MT Bold", sans-serif;
    max-width: 800px;
    margin: 100 auto;
    font-size: 10px;
  }

  .cuadro {
    margin-top: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #E7F6F2;
  }
  
  .contenido {
    display: flex;
    flex-direction: row;
    max-width: 800px;
  }
  
  .texto {
    font-size: 20px;
    text-align: left;
    font-family: "Arial Rounded MT Bold", sans-serif;
    margin-right: 10px;
  }

.btnAsesoramiento{
    font-size: 20px;
    display: inline-block;
    padding: 5px 10px;

    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #395B64;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

